@mixin  flex 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.themesCon
{
    @include flex();
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height:140%;
    background-color:#ececec;
    position: absolute;
    z-index: 11;
    .navInput
    {
        @include flex;
        width: 96.5vw;
        height: 50px;
        margin-top:5px;
        background-color: white;
        position: sticky;
        border-radius: 10px;
        box-shadow: 6px 6px 5px #bbb,0 10px 5px rgba(0,0,0,0);
        overflow: hidden;
        .backInput
        {
            @include flex;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            border: none;
            background: rgb(223, 223, 223);
            cursor: pointer;
            img
            {
                width: 30px;
                height: 30px;
                pointer-events: none;
            }
        }
    }
    .theme
    {
        @include flex;
        flex-direction: column;
        width: 96.5vw;
        min-height: 200px;
        padding-bottom: 10px;
        margin-top:10px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 5px #bbb, 
        0 10px 5px rgba(0,0,0,0);
        overflow: hidden;
        .themeCon
        {
            @include flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 91.5vw;
            height: 180px;
            border-radius: 10px;
            background-color: #ececec;
            h1,.theme1
            {
                @include flex();
                width: 95%;
                border-radius: 10px;
                height: 35px;
                margin-top: 10px;
                background-color: white;
                font-size: 20px;
                box-shadow: 3px 3px 5px #bbb, 
                0 10px 5px rgba(0,0,0,0);
            }
            .theme1
            {
                height: 115px;
            }
        }
    }
}