@mixin  flex 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.themesCon
{
    @include flex();
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height:140%;
    background-color:#ececec;
    position: absolute;
    z-index: 11;
    animation: theme 0.4s ease forwards;
    @keyframes theme {
        0%{
            left: 100%;
        }
        100%{
            left: 0%;
        }
    }
    .loading
    {
        @include flex;
        color: gray;
        width: 100%;
        height: 100vh;
        font-size: 35px;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.342);
        z-index: 10;
        .svgLoad1
        {
            stroke-dasharray: 250;
            stroke-dashoffset: 250;
            animation: load 3s ease infinite;
            position: absolute;
        }
        .svgLoad2
        {
            position: absolute;
            circle
            {
                stroke: #dddddd;
            }
        }
        @keyframes load {
            0%{stroke-dashoffset: 250; transform: rotate(0deg);}
            50%{stroke-dashoffset: 0; transform: rotate(180deg)}
            100%{stroke-dashoffset: -250; transform: rotate(0deg)}
        }
    }
    .navInput
    {
        @include flex;
        width: 96.5vw;
        height: 50px;
        margin-top:8px;
        background-color: white;
        position: sticky;
        border-radius: 10px;
        box-shadow: rgb(187, 187, 187) 0px 0px 10px;
        overflow: hidden;
        .backInput
        {
            @include flex;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            border: none;
            background: rgb(223, 223, 223);
            cursor: pointer;
            img
            {
                width: 30px;
                height: 30px;
                pointer-events: none;
            }
        }
    }
    .theme
    {
        @include flex;
        flex-direction: column;
        width: 96.5vw;
        min-height: 200px;
        padding-bottom: 10px;
        margin-top:10px;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgb(187, 187, 187) 0px 0px 10px;
        overflow: hidden;
        .themeCon
        {
            @include flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 91.5vw;
            height: 180px;
            border-radius: 10px;
            background-color: #ececec;
            h1,.theme1
            {
                @include flex();
                width: 95%;
                border-radius: 10px;
                height: 35px;
                margin-top: 10px;
                background-color: white;
                font-size: 20px;
                box-shadow: rgb(187, 187, 187) 0px 0px 10px;
            }
            .theme1
            {
                height: 115px;
            }
        }
    }
}
.themeClose
{
    animation: themeC 0.4s ease forwards;
    @keyframes themeC {
        0%{
            left: 0%;
        }
        100%{
            left: 100%;
        }
    }
}