@mixin  flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontSizeSelect
{
    @include flex();
    width: 14.5vw;
    height: 80px;
    border-radius: 10px;
    // border: 2px gray solid;
    border: none;
    background: white;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    box-shadow: rgb(187, 187, 187) 0px 0px 10px;
    .title
    {
        font-size: 20px;
    }
    .fontSizeSelectDefault
    {
        font-size: 20px;
    }
    .fontSizeCon
    {
        height: 0px;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        border: 1px gray solid;
        transition: all 0.3s;
        position: absolute;
        background-color: white;
        border-radius: 25px;
        right: -0.5vw;
        cursor: pointer;
        .fontSizeOption
        {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 65px;
            height: 50px;
            cursor: pointer;
            input
            {
                position: absolute;
                opacity: 0;
                width: 65px;
                height: 50px;
                cursor: pointer;
            }
            div
            {
                @include flex;
                text-align: center;
                position: absolute;
                pointer-events: none;
                width: 65px;
                height: 50px;
                border-bottom: 1px gray solid;
                font-size: 25px;
                cursor: pointer;
            }
        }
    }
}
.fontSizeSelect
{
    .fontSizeOption:nth-child(4)
    {
        div 
        {
            border-bottom: 1px rgba(128, 128, 128, 0) solid;
        }
    }
}