@mixin  flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer
{
    @include flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    form
    {
        @include flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        .titleInput
        {
            width: 95%;
            height: 50px;
            background: none;
            border: 2px solid gray;
            border-radius: 15px;
            font-size: 25px;
            margin-top: 60px;
            outline: none;
            padding: 10px;
        }
        textarea 
        {
            width: 95%;
            min-height: 450px;
            margin-top: 20px;
            background: none;
            border: 2px solid gray;
            border-radius: 15px;
            font-size: 25px;
            outline: none;
            padding: 10px;
        }
        .colorInput
        {
            @include flex;
            justify-content: space-evenly;
            width: 95%;
            height: 50px;
            .colorContainer
            {
                @include flex;
                position: relative;
                div
                {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    // background: #000;
                    border-radius: 50%;
                }
            }
        }
        button
        {
            background: rgb(0, 177, 0);
            border: none;
            width: 95%;
            height: 40px;
            font-size: 25px;
            color: white;
            border-radius: 15px;
        }
    }
    .inputCloseBtn
    {
        @include flex;
        position: absolute;
        background: none;
        outline: none;
        border: none;
        width: 30px;
        height: 30px;
        right: 10px;
        top: 10px;
        cursor: pointer;
        div
        {
            position: absolute;
            width: 30px;
            height: 5px;
            background: gray;
            border-radius: 12px;
        }
        div:nth-child(1)
        {
            transform: rotate(45deg);
        }
        div:nth-child(2)
        {
            transform: rotate(-45deg);
        }    
    }
}
.close-1
{
    animation: close-1 0.5s forwards;
}
.close-2
{
    animation: close-2 0.5s forwards;
}
@keyframes close-1 {
    0%{transform: rotate(90deg) translateY(0px); width: 30px; opacity: 1;}
    100%{transform: rotate(0deg) translateY(0px); width:30px; opacity: 0;}
}
@keyframes close-2 {
    0%{transform: rotate(45deg) translateY(0px); width: 30px; opacity: 1;}
    100%{transform: rotate(0deg) translateY(0px); width:30px; opacity: 0;}
}