@mixin  flex 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginCon
{
    @include flex;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
    background-color: #ececec;
    position: relative;
    overflow: hidden;
    .bgImg
    {
        width: 200%;
        height: 200%;
        position: absolute;
        z-index: 0;
        filter: opacity(0.1);
        background-image: url('./img/bg.svg');
    }
    @media only screen and (max-width: 600px) {
        .bgImg
        {
        width: 450%;
        height: 450%;
        }
    }
    .navPreview
    {
        @include flex;
        width: 96.5vw;
        height: 50px;
        margin-top: 5px;
        background-color: white;
        position: absolute;
        border-radius: 10px;
        top: 0;
        box-shadow: 6px 6px 5px #bbb, 
        0 10px 5px rgba(0,0,0,0);
        overflow: hidden;
        z-index: 1;
        h1
        {
            margin: 0;
        }
    }
    div
    {
        @include flex;
        flex-direction: column;
        width: 96.5vw;
        height:250px;
        background: white;
        border-radius: 15px;
        box-shadow: 6px 6px 5px #bbb, 
        0 10px 5px rgba(0,0,0,0);
        z-index: 1;
        h1
        {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p
        {
            border-top: 1px rgb(134, 134, 134) solid;
            width:250px;
        }
        button
        {
            @include flex;
            outline: none;
            border: none;
            border-radius: 25px;
            background: #1e92fd;
            color:white;
            width: 250px;
            height: 45px;
            font-size: 18px;
            transition: all 0.3s;
            margin-top: 20px;
            cursor: pointer;
            img
            {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }
        button:hover
        {
            background: #0084ff;
        }
    }
}